@font-face {
    font-family: 'PRFont';
    src: url('./src/font/fonnts.com-Kaneda_Gothic_Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PRFont', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}
